.Keypad button:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.3);
}

.Screen.alert {
  padding: 0.5rem;
  min-height: 80px;
  margin-bottom: 0.25rem;
  position: relative;

  .buffer-amount {
    font-size: 25px;
    line-height: 25px;
    text-align: right;
  }

  .Transaction {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    padding: 1px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;

    & + div {
      margin-top: 15px;
    }
  }
}

table.Keys {
  $height: 62px;
  $spacing: 3px;

  width: calc(100% + 6px);
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: -$spacing;
  margin-bottom: $spacing;

  td {
    padding: 3px;
  }

  thead button {
    width: 100%;
    height: 40px;
    background-image: none;

    &:hover {
      background-image: none !important;

      &[disabled] {
        border-color: rgb(51, 51, 51);
      }
    }
  }

  tbody {
    td {
      width: 25%;
    }

    button {
      width: 100%;
      height: $height;
      font-family: 'Nato Sans', sans-serif;
      font-size: 25px;
    }

    td[rowspan='2'] button {
      height: 2 * $height + 2 * $spacing;
    }
  }
}
