@import url('https://bootswatch.com/4/spacelab/bootstrap.min.css');

.container {
  max-width: 300px;
  font-size: 0.8rem;
}

.card-body {
  padding: 0.5rem 0.75rem;
}

.form-group {
  label {
    font-weight: bold;
  }

  input {
    padding: 0.5rem;
  }
}

.list-group-item {
  padding: 0.5rem 0.75rem;
}
